<h5>Reimbursements</h5>


{% if reimbursements %}
<ul class="list-group gap-2">
    {% for reimbursement in reimbursements %}
    <div class="reimbursement-item">
        <li class="list-group-item py-2">
            <div class="d-flex justify-content-between align-items-center w-100">
            <span class="fw-bold">From {{ reimbursement.from }}</span>
            <span>to: {{ reimbursement.to }}</span>
            <span>Amount: {{ reimbursement.amount }}</span>
            <button class="btn btn-sm btn-outline-primary paid-btn"
                data-from="{{ reimbursement.from }}"
                data-to="{{ reimbursement.to }}"
                data-amount="{{ reimbursement.amount }}"
            >Is paid</button>
            </div>
        </li>
    </div>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-info mt-3">
    All balances are settled. No reimbursement needed!
  </div>
{% endif %}