{% extends "layout.html" %}
{% block title %}{{ plan.name }}{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3 col-sm-12 border-end">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="mb-0">{{ plan.name }}</h4>
          <div>
            <a href="/plans/" class="btn btn-outline-secondary btn-sm ms-2">Return to Plans</a>
            <a href="{{ url_for('plans.export_plan_csv', hash_id=plan.hash_id) }}" class="btn btn-success btn-sm ms-2">Download CSV</a>
          </div>
        </div>      
      <ul class="nav flex-column nav-pills mt-4">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-section="expenses">🧾 Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-section="reimbursements">💸 Reimbursements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-section="statistics">📊 Statistics</a>
        </li>
      </ul>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-9 col-sm-12" id="plan-content" data-plan-id="{{ plan.hash_id }}"> 
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/view_plan.js') }}"></script>
{% endblock %}
