services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    image: darkha03/mycount:dev
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "5000:5000"
