body {
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

.title {
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 20px;
}

